.header{
  padding: 20px;
  background: #000;
  color: #fff;
  display: flex;
  text-decoration: solid;
}

.title{
  text-transform: uppercase;
  text-align: center;
  flex:90%
}
.cart-total-price{
  flex:5%;
  text-align: center;
}

.img-right{
  text-align: center;
  height: 30px;
  width: 30px;
  flex:5%
}

.container{
  margin: 20px 0;
  display: flex;
}

.column1{
  flex:5%;
  margin: 18px 5px 16px 16px;
  text-align: right;
}

.column2{
  flex:70%;
  margin: 16px 5px 16px 5px;
}

.column3{
  flex:10%;
  margin: 16px;
}

.column4{
  flex:5%;
  margin: 16px;
}

.grid-item-image{
  width:40px;
  height:40px;
}

.btn-control{
  size: 60px;
  margin: 30px 10px;
  cursor: pointer;
}

.input-control{
  width:24px;
  height:24px;
  text-align: center;
}

.cart-popup{
  background: rgb(200, 236, 235);
  color:black;
  width: 320px;
  position: relative;
  border-radius: 3px;
  display: flex;
  z-index: 9;
  border:1px solid gray;
}

.cart-popup-container{
  position:absolute;
}

.column1_popup{
  flex:5%;
  margin: 28px 16px 16px 16px;
  text-align: center;
  color:white;
  font-size: 12px;
  cursor: pointer;
}

.column2_popup{
  flex:70%;
  margin: 16px 5px 16px 5px;
}

.column3_popup{
  flex:10%;
  margin: 16px;
}
